.wallets h1 {
    margin: 1em auto;
}
.wallets .wallets-tabs {
    margin-bottom: 1em;
}
.wallets .btn {
    margin-right: auto;
    margin-left: auto;
    display: block;
}
.wallets_list .wallet {
    cursor: pointer;
}
.accordion .card {
    padding: 0;
    margin-top: 0;
    max-width: none;
}
#wallet-info .title {
    font-weight: bold;
    min-width: 150px;
    display: inline-block;
}
